{% extends 'layout.html' %}
{% block navbar%}
<li class="inctive"><a href="/medications">Medications</a></li>
<li class="inactive"><a href="/history">History</a></li>
<li class="active"><a href="/import">Import</a></li>
 <li class="inactive"><a href="/export">Export</a></li>
{%endblock%}
{% block title %}Medications | ehhapp-formulary2{% endblock %}
{% block body %}
	<h1>Import an invoice</h1>
	<form action="" method="POST" enctype="multipart/form-data">
	
<fieldset class="form-group">
  <div class="clearfix">
    	<label for="invoice_file">Upload a new invoice</label>
	    <div class="input">
	      	<span class="input-grp-btn">
				<span class="btn btn-primary btn-file">
				Browse...
				<input class="form-control" id="invoice_file" name="invoice_file" type="file">
				</span>
			</span>
		</div>
  	</div>
</fieldset>

<input type="submit" value="Submit" class="btn btn-success">
</form>
</section>
</div><!-- /.container -->
{% endblock %}
