{% extends 'layout.html' %}
{%block navbar%}
<li class="inactive"><a href="/medications">Medications</a></li>
<li class="inactive"><a href="/history">Comparisons</a></li>
<li class="inactive"><a href="/spending">Spending</a></li>
<li class="inactive"><a href="/invoices">History</a></li>
<li class="inactive"><a href="/import">Import</a></li>
<li class="inactive"><a href="/export">Export</a></li>
{%endblock%}
{% block title %}Welcome to Formulary Updater{% endblock %}
{% block body %}
<div class="jumbotron">
		<!--<img src="/assets/images/" height=200px>!-->
        <h1>Welcome to MedTracker</h1>
        <p>Tracking medication prices and updating the formulary.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/import" role="button">Upload a new invoice &raquo;</a>
        </p>
      </div>
<div class="container">
<div class="row">

</div>
</div>
{% endblock %}
