{% extends 'layout.html' %}
{% block navbar%}
<li class="active"><a href="/medications">Medications</a></li>
                        <li class="inactive"><a href="/history">History</a></li>
                        <li class="inactive"><a href="/import">Import</a></li>
                         <li class="inactive"><a href="/export">Export</a></li>
{%endblock%}
{% block title %}Medications | ehhapp-formulary2{% endblock %}
{% macro increment(dct, key, inc=1)%}
    {% if dct.update({key: dct[key] + inc}) %} {% endif %}
{% endmacro %}
{% block body %}
	    <div class="page-header">
		    <h1>History for year {{year}}</h1>
		    <h3>{{medications[0].name}}</h3>
	    </div>
	    <h4>Information</h4>
	    <table class="table table-hover">
		    <thead>
			    <th>Property</th>
			    <th>Value</th>
		    </thead>
		   <tbody>
			<tr><td>Common Name</td><td>{{medications[0].common_name}}</td></tr>
			<tr><td>Aliases</td><td>{% if medications[0].aliases|length > 0 %}
					{%for a in medications[0].aliases %}
					{{a}}; {%endfor%}
					{%else%}
					None
				       {%endif%}</td></tr>
			<tr><td>Dose</td><td>{{medications[0].dosage}}</td></tr>
			<tr><td>Form</td><td>{{medications[0].admin}}</td></tr>
			<tr><td>More information</td><td><a href="https://mor.nlm.nih.gov/RxNav/search?searchBy=RXCUI&searchTerm={{medications[0].cui}}#class">Open</a></td></tr>
			<tr><td>Category</td><td>{{medications[0].category}}</td></tr>
			<tr><td>Can prescribe?</td><td>{{medications[0].prescribable}}</td></tr>
		   </tbody>
	    </table>
	    <h4>Price history</h4>
	    <table class="table table-hover">
		<thead>
			<th> Start Price </th>
			<th> End Price </th>
			<th> % chg</th>
			<th> Spend total </th>
			<th> Bought </th>
			<th> Sold </th>
			<th> Scripts </th>
		</thead>
		<tbody>
		{% for med in medications %}
		<tr>
			<td> ${{ med.transactions[0].price | round(3) }}</td>
			<td> ${{ med.transactions[-1].price | round(3) }}</td>
			<td> {{(med.transactions[-1].price/med.transactions[0].price*100-100) | round(2)}}%</td>
			{% set spendcounter = {med.name:0} %}
			{% for m in med.transactions %}
				{{ increment(spendcounter,med.name,inc=m.qty|int*m.price|float) }}
			{% endfor %}
			<td> ${{spendcounter[med.name]|round(2)}}</td>
			{% set counter = {med.name:0} %}
			{% for m in med.transactions %}
				{% if m.qty|int > 0 %}
					{{ increment(counter,med.name,inc=m.qty|int) }}
				{% endif %}
			{% endfor %}
			<td> {{counter[med.name]}}</td>
			{% set returncounter = {med.name:0} %}
			{% for m in med.transactions %}
				{% if m.qty|int < 0 %}
					{{ increment(returncounter,med.name,inc=m.qty|int*-1) }}
				{% endif %}
			{% endfor %}
			<td> {{returncounter[med.name]}}</td>
			<td> {{med.transactions | length}} </td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    <form method="GET" action="/medications/{{medications[0].id}}" class="form-inline">
	    	<label for="year">Year to analyze</label>
	    	<select name="year" class="form-control" onchange="this.form.submit()">
	    	 {% for y in range(2014,2019) %}
	    	 {% if y==year|int %}
			  <option value="{{y}}" selected="selected">{{y}}</option>
			 {% else %}
			   <option value="{{y}}">{{y}}</option>
			 {% endif %}
			 {% endfor %}
			 {% if year=="0" %}
			 	<option value="0" selected="selected">All</option>
			 {% else %}
			 	<option value="0">All</option>
			 {% endif %}
			</select>
	    </form>
	    {{html_figure|safe}}
	    {% if medications|length == 0 %}
	    <div class="alert alert-error">No medication records in DB.</div>
	    {% endif %}
	    </div>

{% endblock %}
