{% extends 'layout.html' %}
{% block title %}Medications | ehhapp-formulary2{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h1>Medications</h1>
	    </div>
	    <table class="table table-hover" id="activesort">
		<thead>
			<th> Name </th>
			<th> Current Price </th>
			<th> Prescribed </th>
			<th> Scripts </th>
		</thead>
		<tbody>
		{% for med in medications %}
		<tr>
			<td> <a href="/medications/{{med.id}}">{{ med.name }}</a></td>
			<td> {{ med.transactions[-1].price | round(3) }}</td>
			<td> {{med.transactions | sum(attribute="qty")}}</td>
			<td> {{med.transactions | length}} </td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if medications|length == 0 %}
	    <div class="alert alert-error">No medication records in DB.</div>
	    {% endif %}
	    </div>

{% endblock %}